#include <pmwin.h>
#include "base.h"

ACCELTABLE  IDR_DOC PRELOAD
BEGIN
    VK_F4,  SC_CLOSE,   VIRTUALKEY, CONTROL, SYSCOMMAND
    VK_F5,  SC_RESTORE, VIRTUALKEY, CONTROL, SYSCOMMAND
    VK_F6,  SC_NEXT,    VIRTUALKEY, CONTROL, SYSCOMMAND
    VK_F7,  SC_MOVE,    VIRTUALKEY, CONTROL, SYSCOMMAND
    VK_F8,  SC_SIZE,    VIRTUALKEY, CONTROL, SYSCOMMAND
    VK_F9,  SC_MINIMIZE,VIRTUALKEY, CONTROL, SYSCOMMAND
    VK_F10, SC_MAXIMIZE,VIRTUALKEY, CONTROL, SYSCOMMAND
END

MENU IDM_DOCSYSMENU PRELOAD
BEGIN
    SUBMENU    "", SC_DOCSYSMENU, MIS_BITMAP
    BEGIN
        MENUITEM   "~Restore\tCtrl+F5",     SC_RESTORE,   MIS_SYSCOMMAND, MIA_DISABLED
        MENUITEM   "~Move\tCtrl+F7",        SC_MOVE,      MIS_SYSCOMMAND
        MENUITEM   "~Size\tCtrl+F8",        SC_SIZE,      MIS_SYSCOMMAND
        MENUITEM   "Mi~nimize\tCtrl+F9",    SC_MINIMIZE,  MIS_SYSCOMMAND
        MENUITEM   "Ma~ximize\tCtrl+F10",   SC_MAXIMIZE,  MIS_SYSCOMMAND
        MENUITEM   SEPARATOR
        MENUITEM   "~Close\tCtrl+F4",       SC_CLOSE,     MIS_SYSCOMMAND
        MENUITEM   SEPARATOR
        MENUITEM   "Switch ~to...\tCtrl+ESC", SC_TASKMANAGER, MIS_SYSCOMMAND
    END
END
